{
    "env": {
      "node": true,
      "browser": true,
      "es6": true
    },
    "extends": ["airbnb-base", "eslint:recommended"],
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2020
    },
    "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "single"],
      "indent": ["error", 2],
      "no-underscore-dangle": "off",
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "off"
        }
      ],
      "operator-linebreak": "off"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js"]
        }
      }
    }
}
  